.cardBg {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid ;
    border-width: 1px;
    border-image: linear-gradient(45deg,rgb(255, 208, 0), rgb(98, 0, 255)) 1;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.3);
}

