<div class="mt-5 pt-5 container-fluid" *ngIf="closeAdd">
  <div class="card cardBg text-white">
    <div class="card-body">
      <div class="container-fluid justify-content-around my-3 text-center" >
        <h1>Aggiungi comune</h1>
        <div class="row">
            <div class="col-6 my-3">
              <input type="text" class="form-control bg-dark border-0 text-white" placeholder="Nome comune" aria-label="comune" [(ngModel)]="comune.nome">
            </div>
            <div class="col-6 my-3">
              <select name="Nome Provincia" [(ngModel)]="comune.provincia.id" class="form-control form-select bg-dark border-0 text-white">
                <option value="" selected hidden name="NomeProvincia" value="">Nome Provincia</option>
                <option *ngFor="let item of province" value="{{item.id}}">{{ item.nome }}</option>
              </select>
            </div>
            <div class="col-12 my-3">
              <button class="btn btn-outline-primary col-12" (click)="creaComune(comune)">Aggiungi comune</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>