<div class="conteiner-fluid mt-5 pt-5 text-center text-white">
    <h1 class="my-3">Benvenuto!</h1>
    <h3>Se sei già registrato loggati per vedere il CRM,<br> nel caso contrario registrati per poter visualizzare i contenuti,<br> buona permanenza.</h3>
    <button [routerLink]="['login']" routerLinkActive="router-link-active" class="btn btnBlu text-white rounded mx-2 mt-5">Login</button>
    <button [routerLink]="['signup']" routerLinkActive="router-link-active" class="btn btnOrange mx-2 mt-5 text-white">Signup</button>
</div>


