.btnBlu {
    border-style: solid ;
    border-width: 0.5px;
    border-image: linear-gradient(45deg,rgb(0, 217, 255),rgb(98, 0, 255)) 1;
    width: 20%;
    font-weight: bold;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.3)
}

.btnBlu:hover {
    background: linear-gradient(45deg,rgb(0, 217, 255),rgb(98, 0, 255)) !important;
}

.btnOrange {
    border-style: solid ;
    border-width: 0.5px;
    border-image: linear-gradient(45deg,rgb(255, 208, 0), rgb(255, 0, 0)) 1;
    width: 20%;
    font-weight: bold;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.3)
}

.btnOrange:hover {
    background: linear-gradient(45deg,rgb(255, 208, 0), rgb(255, 0, 0)) !important;
}
